.footer {
    background-color: rgb(12, 14, 8);
}

.logo img {
    padding-top: 30px;
}

.footer h6 {
    color: #fff;
    padding-left: 12px;
    padding-top: 38px;
}

.footer p {
    color: gray;
    padding-left: 12px;
    padding-top: 38px;
}

.footer .social-logo a {
    color: gray;
    font-size: 20px;
}

.footer .social-logo a:hover {
    color: honeydew;
}

.foot-text a {
    color: gray;
    padding-left: 12px;
    font-size: 13px;
}

.foot-text a:hover {
    color: honeydew;
}

.footer h4 {
    color: #fff;
    padding-left: 12px;
    padding-top: 38px;
    padding-bottom: 40px;
}

.join-footer button {
    background-color: white;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

.join-footer button:hover {
    background-color: crimson;
    color: white;
}

.join-footer .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-radius: 20px;
    background: #383838;
    color: black;
}

.copyright {
    color: gray;
}

.copyright p {
    margin-bottom: 0
}